.menu__item {
    position: relative;
}

a.current {
    color: var(--accent-color);
}

a.current::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0%;
    bottom: -1.5px;

    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}