.about {
    @media screen and (max-width:1199px) {
        display: none;
    }
    padding-bottom: 94px;
}

.chapter-list {
    display: flex;
    gap: 30px;

    &__item {
    position: relative;
    
    flex-basis: calc((100% - 60px) / 3);
    }

    &__chapter {
    font-size: var(--main-font-size);
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    }

    &__box {
    position: absolute;
    left: 0%;
    bottom: 0%;
    
    width: 100%;
    padding: 27px 15px;
    background: rgba(47, 48, 58, 0.8);
    }
}